<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>GroupName</key>
	<string>wheel</string>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>statskeeper</string>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/Path/to/your/repository/ActiveAppTracker/activeAppTracker.py</string>
	<key>ProgramArguments</key>
	<array>
		<string>activeAppTracker.py</string>
		<string>/Path/to/existing/statistics/file/which/might/be/empty/stats.txt</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartOnMount</key>
	<false/>
	<key>UserName</key>
	<string>root</string>
</dict>
</plist>
